{% extends "base.html" %} 

{% block content %}

<h2>Tu Carrito</h2>

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 15px;">

{% for item in items %}
    <div class="card">

        <h3>{{ item.producto.nombre }}</h3>

        {% if item.producto.imagen %}
            <img src="{{ item.producto.imagen }}" style="width:100%; height:200px; object-fit:cover; border-radius:8px;">
        {% endif %}

        <p><strong>Cantidad:</strong> {{ item.cantidad }}</p>
        <p><strong>Subtotal:</strong> ${{ item.subtotal }}</p>

        <!-- BOTONES -->
        <div style="display: flex; gap: 5px; margin-top: 10px;">

            <a href="{% url 'agregar_carrito' item.producto.id %}" class="btn btn-success">+</a>

            <a href="{% url 'restar_carrito' item.id %}" class="btn btn-secondary">-</a>

            <a href="{% url 'eliminar_carrito' item.id %}" class="btn btn-danger">Eliminar</a>

        </div>

    </div>
{% endfor %}

</div>

<h3 style="text-align:center;">Total: ${{ total }}</h3>

{% endblock %}